@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&family=Megrim&family=Poppins:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: Lexend, sans-serif;
  --logo-font: Megrim, sans-serif;

  --main-bg: #fffafe;
  --logo-container: rgba(255, 255, 255, 0.1);

  --logo-txt: white;
  --dark-blue-txt: #331c76;
  --placeholder-txt: rgba(51, 28, 118, 0.25);
  --input-label: rgba(231, 27, 142, 0.8);
  --img-credit: rgba(255, 255, 255, 0.8);

  --btn-bg: rgba(231, 27, 142, 1);
  --btn-hover-bg: rgba(236, 36, 150, 1);
  --btn-active-bg: rgb(223, 16, 133);
  --btn-txt: white;

  --input-box-stroke: rgba(51, 28, 118, 0.7);
  --input-box-active: #331c76;
  --input-box-error-stroke: #e00101;

  --login-txt: rgba(51, 28, 118, 0.7);
  --login-link: #331c76;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg);
}

main {
  display: flex;
  height: 100vh;
  gap: 8em;
}

.img-container {
  background: url(hero.jpg);
  width: 40vw;
  background-size: cover;
  background-position: 80%;
  display: grid;
  align-content: space-between;
  justify-items: center;
}

.logo-container {
  background-color: var(--logo-container);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.2) inset,
    0px -1px 1px 0px rgba(0, 0, 0, 0.3) inset,
    0px 4px 41px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  padding: 2em;
  margin-top: 10em;
  width: 100%;
}

.logo-txt {
  display: block;
  font-family: var(--logo-font);
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  font-size: clamp(2vw, 6rem, 6vw);
  text-transform: uppercase;
  color: var(--logo-txt);
  text-align: center;
  letter-spacing: 0.1em;
}

.img-credit {
  color: var(--img-credit);
  font-size: clamp(1.1vw, 1.4rem, 1.2vw);
  font-weight: 300;
  margin-bottom: 1.5em;
}

.underline {
  text-decoration: underline;
  font-style: normal;
}

/* Main Section Styles */

.main-content-container {
  width: 60vw;
  display: grid;
  align-content: center;
}

form {
  padding-right: 2em;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--dark-blue-txt);
  width: 50%;
  min-width: 30rem;
  margin-bottom: 1.4em;
}

.form-header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.3em;
  color: var(--dark-blue-txt);
}

.form-input-item {
  width: 100%;
  max-width: 26em;
}

label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--input-label);
  margin-bottom: 0.5em;
  width: 100%;
}

input {
  font-family: var(--main-font);
  color: var(--dark-blue-txt);
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.6em 0.8em;
  outline: none;
  width: 100%;
  border-left: 8px solid var(--input-box-stroke);
  border-right: 1px solid var(--input-box-stroke);
  border-top: 1px solid var(--input-box-stroke);
  border-bottom: 1px solid var(--input-box-stroke);
  transition: 200ms ease-in-out;
}

input:hover,
input:focus {
  border-left: 8px solid var(--input-box-active);
  border-right: 1px solid var(--input-box-active);
  border-top: 1px solid var(--input-box-active);
  border-bottom: 1px solid var(--input-box-active);
  box-shadow: 0 0 0 1px var(--input-box-active);
}

input::placeholder {
  color: var(--placeholder-txt);
}

.input-item-grid-container {
  max-width: calc((26em * 2) + (2em * 4));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
  row-gap: 2em;
}

.submit-btn {
  font-family: var(--main-font);
  cursor: pointer;
  color: var(--btn-txt);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8em 1.6em;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

.submit-btn:hover {
  background-color: var(--btn-hover-bg);
}

.submit-btn:active {
  background-color: var(--btn-active-bg);
}

.login-txt {
  font-size: 1.6rem;
  color: var(--login-txt);
}

.login-link {
  color: var(--login-link);
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}

.pwd-error {
  color: var(--input-box-error-stroke);
}

.show-pwd-input-error {
  border-left: 8px solid var(--input-box-error-stroke);
  border-right: 1px solid var(--input-box-error-stroke);
  border-top: 1px solid var(--input-box-error-stroke);
  border-bottom: 1px solid var(--input-box-error-stroke);
  color: var(--input-box-error-stroke);
}

.not-hoverable:hover,
.not-hoverable:focus {
  border-left: 8px solid var(--input-box-error-stroke);
  border-right: 1px solid var(--input-box-error-stroke);
  border-top: 1px solid var(--input-box-error-stroke);
  border-bottom: 1px solid var(--input-box-error-stroke);
  box-shadow: 0 0 0 1px var(--input-box-error-stroke);
  color: var(--input-box-error-stroke);
}

@media screen and (max-width: 650px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  .img-container {
    width: 100vw;
    background-position: center;
  }

  .logo-container {
    padding: 1em;
    margin-top: 2em;
    width: 100%;
  }

  .img-credit {
    margin-top: 10em;
    font-size: clamp(1.1vw, 1.4rem, 1.5vw);
    font-weight: 300;
    margin-bottom: 1.5em;
  }
  .main-content-container {
    width: 100vw;
    padding: 0 5em 2em 5em;
  }
  .hero-title {
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 0.7em;
    min-width: 0;
  }
  .form-header {
    font-size: 2.1rem;
    margin-bottom: 1em;
  }
  .form-input-item {
    max-width: 100%;
  }
  label {
    font-size: 1.1rem;
  }
  input {
    font-size: 1.4rem;
    padding: 0.7em 0.8em;
  }
  .input-item-grid-container {
    max-width: 90vw;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2.2em;
  }
  form {
    padding: 0;
  }
}
